/** @format */
// dvh
$dvh: var(--vh, 1vh);

// break point
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
$desktop-max-width: 1440px;
$moblie-max-width: 400px;

$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-sub1: 16px;
$font-size-sub2: 14px;
$font-size-sub3: 13px;
$font-size-sub4: 12px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;
$font-size-caption1: 14px;
$font-size-caption2: 12px;

$main-color: #edae00;
$main-light-color: #fad46c;
$main-dark-color: #ed8e00;
$sub-color: #ff8533;
$sub-dark-color: #d66113;

$negative-normal-color: rgb(255, 29, 29);
$negative-light-color: rgb(255, 168, 168);
$negative-dark-color: rgb(170, 44, 44);

//success
$success-normal: #1bd14f;
$success-light: #d2f6dc;
$success-light-hover: #49da72;
$success-light-active: #16a73f;
$success-dark: #05460d;
$success-light-secondary: #cfe2d1;

//grayscale
$grayscale-black: #0a0a0a;
$grayscale-black90: #424242;
$grayscale-black80: #616161;
$grayscale-black70: #757575;
$grayscale-black60: #9b9ca0;
$grayscale-black50: #c2c2c2;
$grayscale-black40: #dfdfe2;
$grayscale-black30: #eaebee;
$grayscale-black20: #f3f3f6;
$grayscale-white: #ffffff;

//Shadow
$shadow-xs: 0px 1px 2px 0px #1018280d;
$shadow-sm: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
$shadow-md: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
$shadow-lg: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
$shadow-xl: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
$shadow-2xl: 0px 24px 48px -12px #1018282e;
$shadow-3xl: 0px 32px 64px -12px #10182824;
