/** @format */

@import "../../layout";
@import "../../variables";
@import "../../viewsize";

.empty-container {
  @include flex-column(center, center);
  gap: 40px;
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: -50px;

  h3 {
    font-size: 20px;
  }

  button {
    border: none;
    background-color: $main-color;
    padding: 15px 30px;
    color: white;
    border-radius: 8px;

    cursor: pointer;
    &:hover {
      background-color: $main-dark-color;
    }
  }
}

.main {
  width: 100vw;
  @include flex-column(flex-start, center);
}

.container {
  @include flex-column(flex-start, center);
  gap: 20px;
  padding: 30px 100px;
  width: 100%;
  max-width: 900px;

  .title {
    font-size: 20px;
  }
  .upload {
    cursor: pointer;
    font-size: 13px;
    text-align: end;
    width: 100%;
  }
}

.recipes-container {
  width: 100%;
  padding: 10px;
  @include flex-row(flex-start, flex-start);
  gap: 20px;
  flex-wrap: wrap; // 복수의 행
}
