/** @format */

@import "../../layout";
@import "../../variables";
@import "../../viewsize";

.lunch-container {
  @include flex-column(flex-start, flex-start);
  gap: 10px;
  width: 100%;
  border: 1px solid $grayscale-black60;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;

  img {
    width: 200px;
    height: 200px;
  }

  .title {
    width: 100%;
    @include make-ellipsis;
    font-weight: 700;
    font-size: 15px;
  }

  .author {
    font-size: 12px;
    width: 100%;
    @include make-ellipsis;
  }

  .heart {
    span {
      font-size: 14px;
      width: 100%;
    }
    width: 100%;
    @include flex-row(space-between, center);

    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  .desc-container {
    @include flex-column(flex-start, flex-start);
    width: 100%;
    gap: 5px;
    .open-btn {
      @include flex-row(flex-start, center);
      gap: 5px;
      cursor: pointer;

      .arrow {
        width: 10px;
        height: 10px;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .desc {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid $grayscale-black30;
    }
  }
}
