/** @format */

@import "../../layout";
@import "../../variables";
@import "../../viewsize";

.lunch-container {
  @include flex-column(flex-start, flex-start);
  position: relative;
  gap: 10px;
  width: 100%;
  outline: 1px solid #d5d5d5;
  box-shadow: $shadow-md;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;

  .img-wrapper {
    width: 100%;
    @include flex-column(center, center);
    img {
      width: 200px;
      height: 200px;
    }
  }

  .title {
    width: 100%;
    font-weight: 700;
    font-size: 15px;

    input {
      width: calc(100% - 50px);
      border: none;
      font-size: 15px;
      background-color: white;
      padding: 3px;
      @include make-ellipsis;
      color: black;

      &:focus {
        outline: none;
      }

      &.edit {
        overflow: auto;
        text-overflow: clip;
        border-bottom: 1px solid $grayscale-black50;
      }

      &:disabled {
        color: black;
      }
    }
  }

  .author {
    font-size: 12px;
    width: 100%;
    @include make-ellipsis;
  }

  .heart {
    span {
      font-size: 14px;
      width: 100%;
    }
    width: 100%;
    @include flex-row(space-between, center);

    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  .desc-container {
    @include flex-column(flex-start, flex-start);
    width: 100%;
    gap: 5px;
    .open-btn {
      @include flex-row(flex-start, center);
      gap: 5px;
      cursor: pointer;

      .arrow {
        width: 10px;
        height: 10px;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .desc {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid $grayscale-black30;
      color: black;

      &:disabled {
        background-color: white;
        color: black;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  img {
    width: 15px;
    height: 15px;
  }
}

.modal {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 150px;
  height: 80px;
  box-shadow: $shadow-md;
  font-size: 14px;
  outline: 1px solid #f4f2f2;
  background-color: white;
  z-index: 110;
  @include flex-column(flex-start, flex-start);

  .modal-item {
    width: 100%;
    height: 50%;
    @include flex-row(flex-start, center);
    cursor: pointer;
    padding: 10px;
    &:nth-child(1) {
      border-bottom: 1px solid $grayscale-black30;
    }

    &:hover {
      background-color: $grayscale-black20;
    }
  }
}

.edit-btn-container {
  width: 100%;
  @include flex-row(flex-end, center);
  gap: 5px;
  button {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;

    &.cancel {
      background-color: $negative-normal-color;
    }

    &.edit {
      background-color: $success-normal;
    }
  }
}
