/** @format */

@import "../../layout";
@import "../../variables";
@import "../../viewsize";

.empty-container {
  @include flex-column(center, center);
  gap: 40px;
  width: 100%;
  height: calc($dvh * 100 - 80px);
  margin-top: -50px;

  h3 {
    font-size: 20px;
  }

  button {
    border: none;
    background-color: $main-color;
    padding: 15px 30px;
    color: white;
    border-radius: 8px;

    cursor: pointer;
    &:hover {
      background-color: $main-dark-color;
    }
  }

  @include mobile {
    height: calc($dvh * 100 - 60px);
  }
}

.main {
  width: 100%;
  @include flex-column(flex-start, center);
}

.container {
  @include flex-column(flex-start, center);
  gap: 40px;
  padding: 30px 0;
  width: 400px;

  .title {
    font-size: 20px;
  }

  .upload {
    cursor: pointer;
    font-size: 13px;
    text-align: end;
    width: 100%;
  }

  .lunch-item {
    width: 100%;
    margin-top: -20px;

    @include mobile {
      margin-top: 0;
    }
  }

  @include mobile {
    width: 100%;
    padding: 40px 20px 20px;
    gap: 20px;
  }
}
