@import '../layout';
@import '../variables';
@import '../viewsize';

.header-container {
  @include flex-row(space-between, center);
  padding: 10px 20px;
  height: 80px;
}

.right {
  @include flex-row(flex-start, center);
  gap: 40px;

  .logo {
    width: 60px;
    cursor: pointer;
  }

  .category-container {
    @include flex-row(center, center);
    gap: 20px;

    .category {
      cursor: pointer;
      padding: 3px 0;

      &.active {
        color: $main-color;
        border-bottom: 1px solid $main-color;
      }
    }
  }
}
